<section class="block container">
    <header class="block__header">
        <h2>Host on the Cloud to Keep Growing</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, eligendi!</p>
    </header>
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#instagram-svgrepo-com"></use>
                  </svg>
            </span>
            <h3 class="feature__heading">Super Easy to use</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda animi, incidunt quibusdam ullam atque consectetur? Hic magni quisquam recusandae expedita!</p>
            <a href="#" class="link-arrow">Learn more</a>
        </div>
        <picture>
            <source type="image/jpg" srcset="images/featureImg/graphX2.jpg 2x, images/featureImg/graphX3.jpg 3x">
            <img class="feature__image" src="images/featureImg/graphX3.jpg" alt="">
        </picture>
    </article>
</section>
<section class="block container">
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#instagram-svgrepo-com"></use>
                  </svg>
            </span>
            <h3 class="feature__heading">Super Easy to use</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda animi, incidunt quibusdam ullam atque consectetur? Hic magni quisquam recusandae expedita!</p>
            <a href="#" class="link-arrow">Learn more</a>
        </div>
        <picture>
            <source type="image/jpg" srcset="images/featureImg/graphX2.jpg 2x, images/featureImg/graphX3.jpg 3x">
            <img class="feature__image" src="images/featureImg/graphX3.jpg" alt="">
        </picture>
    </article>
</section>
<section class="block container">
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#instagram-svgrepo-com"></use>
                  </svg>
            </span>
            <h3 class="feature__heading">Super Easy to use</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda animi, incidunt quibusdam ullam atque consectetur? Hic magni quisquam recusandae expedita!</p>
            <a href="#" class="link-arrow">Learn more</a>
        </div>
        <picture>
            <source type="image/jpg" srcset="images/featureImg/graphX2.jpg 2x, images/featureImg/graphX3.jpg 3x">
            <img class="feature__image" src="images/featureImg/graphX3.jpg" alt="">
        </picture>
    </article>
</section>